/* General */
:root {
  --off-white: #faf9f6;
}

body {
  background-color: var(--off-white);
}

.important-title {
  text-align: center;
  font-weight: 700;
}

.capitalize {
  text-transform: capitalize;
}
